/* 
* @Author: Marte
* @Date:   2019-05-14 14:14:36
* @Last Modified by:   Marte
* @Last Modified time: 2019-05-14 14:23:50
*/
#footer {
    width: 100%;
    height: 152px;
    float:left;
    border-top: 1px solid #ddd;
}
.footer {
    text-align: center;
    font-size: 12px;
    color:#000;
}

.footer_bot {
    padding: 20px 0;
    position: relative;
}
/*.footer_bot span{
    display:block;
    width: 11px;
    height: 16px;
}*/
.footer_bot p.link {
    color: #333; 
}
.footer_bot p {
    color: #666;
    /*line-height: 22px;*/
    margin-top: 11px;
}
.footer_bot p span {
padding: 0 8px;
}
.footer_bot p a {
    color: #666;
}
.footer_bot p a:hover{
   color:#e53;
    text-decoration: underline;
}