/* 
* @Author: Marte
* @Date:   2019-05-07 18:22:32
* @Last Modified by:   Marte
* @Last Modified time: 2019-05-19 16:44:27
*/
body{font-size: 12px;}
header{
    border-bottom:1px solid #ccc;
}
.header {
    height: 36px;
}
.header ul li {
    font-size:14px;
    
    float: left;
}
.header ul li a{
    color:#000;
}
.header ul li a:hover{
    color:#EE5533;
}
.header_left li{
    margin-right: 25px;
    line-height: 36px;
}
#weizhi{
    position:relative;
}
.cityList{
    position: absolute;
left: -1px;
top: 36px;
background: #fff;
border: 1px solid #ccc;
border-top: none;
width: 450px;
padding: 8px 0;
z-index: 100;
display:none;
}
.cityList dl{
    border-bottom: 1px dotted #ccc;
    line-height: 40px;
    padding: 3px 15px;
    float:left;
    width: 100%;
}
.cityList dl:last-child{
    border:0;
}
.cityList dl dt{
    float:left;
}
.cityList dl dd{
    float:left;
    overflow: hidden;

}
.cityList dl dd a {
    /*margin: 0 18px 0 0;*/
    padding: 2px 8px;
    white-space: nowrap;
}
.cityList dl dd:hover{
    background:#e53;
}
.cityList dl dd a:hover{
    color:#fff;
}
.shoucang{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/soucang.png)no-repeat center center;
    margin-right: 3px;
}
.dingwei{
     display: inline-block;
    width: 12px;
    height: 13px;
    background: url(../img/dingwei.png)no-repeat center center;
    margin-right: 3px;
}
.jianjiao{
     display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/jj.png)no-repeat center center;
    margin-left: 13px;
}
.hi{
    line-height: 33px;
}
.user1{
    /*width: 50px;*/
    line-height: 33px;
}
.header_right ul li a{
    display:block;
    height: 16px;
    padding:0 10px;
    margin-top: 10px;
    border-right:1px solid #ccc; 
}

.header_right li{
    /*padding:0 10px;*/
    float:left;
 }
 
 .header ul .current{
    border:1px solid #ccc;
    border-bottom:1px solid #fff;
    border-top:none;
    height: 36px;
    margin:0 0px  0 -1px;
    /*padding:10px 10px 0;*/
    display:block;
 }
 .header  ul .current div{
    display:block;
 }
/* .header_right ul .current a{
    border:none;
 }*/
 #telPhone{
    position:relative;
 }
 .tel_select{
    width: 230px;
    position:absolute;
    top:36px;
    right:-1px;
    padding:10px;
    border:1px solid #ccc;
    background-color: #fff;
    display:none;
 }
 .tel_select dl dd strong {
    color: #666;
}
 .tel_select dl dd {
   font-size: 12px;
    color: #ff6655;
    padding: 0 0 4px;
    overflow: hidden;
}
.tel_select dl dt {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
#attend{
    position:relative;
}
.attend_select{
    width: 230px;
    position:absolute;
    top:36px;
    right:-1px;
    padding:10px;
    border:1px solid #ccc;
    background-color: #fff;
    display:none;
}
.attend_select dl{
    float:left;
}
#shouye{
    position:relative;
}
.shouye_select{
    width: 102px;
    position:absolute;
    top:36px;
    /*right:0px;*/
    border:1px solid #ccc;
    background-color: #fff;
    display:none;
}
.shouye_select li{
    padding:5px;
    border-bottom: 1px dotted #ccc;
    cursor:pointer;
}
.shouye_select li:hover{
    color:#e53;
}
.fw{
    display: inline-block;
    background:url(../img/fw.jpg)no-repeat;
    width: 19px;
    height: 15px;
    margin-right: 3px;
}
.lt{
    display: inline-block;
    width: 16px;
    height: 14px;
    background:url(../img/lt.jpg);
     margin-right: 3px;
}
.bk{
    display: inline-block;
    width: 15px;
    height: 14px;
    background:url(../img/bk.jpg);
     margin-right: 4px;
}
 .caidan{
    display: inline-block;
    width: 15px;
    height: 14px;
    background: url(../img/align.png)no-repeat center center;
    margin-right: 3px;
 }
 #logo{
    height: 130px;
 }
 .logo_left{
    width: 241px;
    height: 80px;
    margin-top:33px;
    text-indent: -9999em;
    overflow: hidden;
    background:url(../img/logo.png)no-repeat center center;
 }
 .logo_center{
    width: 599px;
    height: 64px;
    margin: 49px 0 0 54px;
 }
 .logo_center input:nth-child(1){
    width: 518px;
    height: 43px;
    padding: 14px 0 14px 11px;
    border:2px solid #EE5533;
    float:left;
    color:#D3D9E7;
 }
  .logo_center input:nth-child(2){
    width: 81px;
    height: 43px;
    background:#EE5533;
    color:#fff;
    font-size:20px;
 }
  .logo_center span{
    color:#ccc;
    font-size: 12px;
    cursor: pointer;
    margin-right: 5px;
  }
   .logo_center span:hover{
    color:#EE5533;
   }
    .logo_right{
    width: 177px;
    height: 36px;
    margin-top:49px;
   /* text-indent: -9999em;
    overflow: hidden;
    background:url(../img/tel.png)no-repeat center center;*/
 }
 nav{
    height: 37px;
    background-color: #EE5533;
 }
 .nav_left{
    background-color: #CC2200;
    width: 189px;
    height: 37px;
    line-height: 37px;
    padding-left: 5px;
 }
 .nav_left a{
    color:#fff;
    font-size:14px;
 }
.liebiao{
    display: inline-block;
    float:right;
    margin-top: 13px;
    width: 19px;
    height: 14px;
    background: url(../img/liebiao.png)no-repeat center center;
    margin-right: 8px;
}
 .nav_center li{
    float:left;
    height: 37px;
    cursor:pointer;
 }
 .nav_center li:nth-child(1){
    background-color: #9A0000;
 }

 .nav_center li a{
    display:block;
    padding:0 17px;
    color:#fff;
    margin-top: 10px;
    font-size: 14px;
 }
.nav_center li:hover{
    background-color: #9A0000;
}
.nav_right{
    width: 143px;
    height: 37px;
    background-color: #CC2200;
    position:relative;
}
.nav_right a {
        color:#fff;
      font-size:18px;
}
.nav_right p{
    float:right;
    margin: 8px 20px 0  0;
}
.nav_r_b{
    border: 2px solid #cc2200;
    width: 298px;
    position: absolute;
    top: 34px;
    right: 0;
    z-index: 998;
    background: #fef2ee;
    display:none;
}
.shop_cart_no {
    padding: 24px 0;
    text-align: center;
    font: 14px/16px "Microsoft YaHei";
    color: #999;
    /*display:none;*/
}

.gwc{
    display: inline-block;
    width: 23px;
    height: 22px;
    background: url(../img/gwc.png)no-repeat center center;
    margin:5px 3px 0 11px;
}
#banner{    
    width: 100%;
    height: 451px;
    background-color: #F3F3F3;
}
.banner_left{
    width: 190px;
    height: 451px;
    border:1px solid #CC2200;
    background-color: #fff;

}
.banner_left ul li div{
    background-color:rgba(255, 255, 255, 0.9);
        z-index: 3;
}
.banner_left ul li div dl {
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
    padding: 6px 0;
}
.banner_left ul li:nth-child(1){
    padding:9px;
    height: 111px;
    border-bottom: 2px solid #CCCCCC;
    position:relative;
}

.banner_left ul li div dl dt {
    float: left;
    width: 118px;
    margin-top: 1px;
}

.banner_left ul li div dl dt a {
    font-weight: 900;
    font-size: 14px;
    color: #f50;
}
.banner_left ul li div dl dt a:hover{
    text-decoration: underline;
    color: #f53;
}
.banner_left ul li div dl dd {
    float: left;
    width: 460px;
    font-size: 14px;
    color: #ccc;
}
.banner_left ul li div dl dd a{
    color: #666;
    margin: -5px;
}
.banner_left ul li div dl dd a:hover{
    color:#e53;
}
.b0{
    position: absolute;
    width: 656px;
    height: 453px;
    border:2px solid #CC2200;
    left:187px;
    top:-2px;
    display:none;
    padding: 5px 20px;
}
.banner_left ul li:nth-child(1):hover .b0{
    display:block;
}
.banner_left ul li:nth-child(2){
    padding:9px;
    height: 111px;
    border-bottom: 2px solid #CCCCCC;
    position:relative;
}
.b1{
    position: absolute;
    width: 656px;
    height: 453px;
    border:2px solid #CC2200;
    left:187px;
    top:-113px;
    display:none;
    padding: 5px 20px;
}

.banner_left ul li:nth-child(2):hover .b1{
    display:block;
}
.banner_left ul li:nth-child(3){
    height: 66px;
    border-bottom: 2px solid #CCCCCC;
    padding:9px;
    position:relative;
}
.b2{
    position: absolute;
    width: 656px;
    height: 453px;
    border:2px solid #CC2200;
    left:187px;
    top:-224px;
    display:none;
    padding: 5px 20px;
}
.banner_left ul li:nth-child(3):hover .b2{
    display:block;
}
.banner_left ul li:nth-child(4){
    height: 89px;
     border-bottom: 2px solid #CCCCCC;
    padding:9px;
    position:relative;
}
.banner_left ul li:nth-child(4):hover .b3{
    display:block;
}
.b3{
    position: absolute;
    width: 656px;
    height: 453px;
    border:2px solid #CC2200;
    left:187px;
    top:-290px;
    display:none;
    padding: 5px 20px;
}
.banner_left ul li:nth-child(5){
    height: 72px;
    border:0;
     border-bottom: 2px solid #CCCCCC;
    padding:9px;
    position:relative;
}
.b4{
    position: absolute;
    width: 656px;
    height: 453px;
    border:2px solid #CC2200;
    left:187px;
    top:-379px;
    display:none;
    padding: 5px 20px;
}
.banner_left ul li:nth-child(5):hover .b4{
    display:block;
}
/*.banner_left li{
    border:2px solid #fff;
    
}
.banner_left li:hover{
    border:2px solid #e53;
}*/
.dog{
    display:block;
    float:left;
    width: 24px;
    height: 24px;
    background: url(../img/dog.png)no-repeat center center;
    margin:0px 9px 0 0px;
}
.cat{
    display:block;
    float:left;
    width: 24px;
    height: 21px;
    background: url(../img/cat.png)no-repeat center center;
    margin:0px 9px 0 0px;
}
.tuzi{
    display:block;
    float:left;
    width: 26px;
    height: 19px;
    background: url(../img/tuzi.png)no-repeat center center;
    margin:0px 5px 0 0px;
}
.yu{
    display:block;
    float:left;
    width: 25px;
    height: 15px;
    background: url(../img/yu.png)no-repeat center center;
    margin:0px 5px 0 0px;
}
.cha{
    display:block;
    float:left;
    width: 26px;
    height: 24px;
    background: url(../img/cha.png)no-repeat center center;
    margin:-4px 5px 0 0px;
}
.banner_left ul h3 {
    height: 24px;
}
.banner_left ul h3 a {
    color:#000;
}
.banner_left ul h3 a:hover{
    color:#e53;
    text-decoration: underline;
}
.jt{
    display:block;
    float:right;
    width: 9px;
    height: 11px;
    background: url(../img/jt.png)no-repeat center center;
    margin:3px 0px 0 0px;
}
.banner_left ul li span{
    display:inline-block;
    width: 50px;
    height: 21px; 
}

.banner_left ul li span a{
    color:#66667A;
    font-size: 12px;
}
.banner_left ul li span a:hover{
    color:#e53;
}
.banner_center{
    width: 800px;
    height: 451px;
    /*background-color: blue;*/
}
#banner_screen{
    width: 800px;
    height: 360px;
    overflow:hidden;
    position:relative;
    z-index: 2;
}
#banner_screen ul{
    width: 1600px;
    height: 360px;
}
#banner_screen ul li{
    float:left;
    position:absolute;
    top:0;
    left:0;
}
.light {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.light span {
    float: left;
    width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    background: #f3f3f3;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin: 0 3px;
    border-radius: 12px;
}
.light .active{
    color: #fff;
    background: #e53;
    }
.banner_center_bottom{
    width: 800px;
    height: 90px;
}
.banner_center_bottom img{
    width: 266px;
    height: 90px;
    float:left;
    margin: 1px 1px 0 0;
    /*border-right: 1px solid #F3F3F3;*/
    cursor:pointer;
}
.banner_right{
    width: 200px;
    height: 451px;
    background-color: #fff;
    position:relative;
}
.banner_right>img{
    width: 200px;
    height: 200px;
}
.bqzx{
    width: 200px;
    height: 61px;
    padding:10px;
}
.bqzx_top{
    width: 180px;
    height:21px;
}
.bqzx h4{
    display:inline-block;
    font-size: 15px;
    float:left;
    color:#333;

}
.turn{
    width: 42px;
    height: 18px;
    float:right;
    cursor:pointer;
}
.prev {
    float:left;
    width: 15px;
    height: 15px;
    margin:3px 3px 0;
}
.next {
    float:left;
    width: 15px;
    height: 15px;
    margin:3px 3px 0;
}

.move{
    width: 180px;
    height: 20px;
    overflow: hidden;
    /*position: relative;*/
    margin-bottom: 10px;
}

.move li{
    margin: 5px 0 0;
    float:left;
    width: 180px;
    position:absolute;
    left:0;
    top:0;
}
.move ul {
    width: 540px;
    height: 20px;
    position:relative;
    overflow:hidden;
}

.move ul li a {
    display:block;
    color:#000;
    font-size: 12px;
}
.move ul li a:hover {
    color:#e53;
}
.dy{
    width: 180px;
    float:left;
}
.dy strong{
    color:#333;
    font-size: 12px;
}
.dy_bot{
    width: 180px;
    padding:5px 0 0;
    position: relative;
    z-index: 2;
}
#input_tex{
    width: 121px;
    float:left;
    color: #999;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    border-right: none;
    background: #f6f6f6;
    width: 121px;
    border: 1px solid #ccc;
    }
#input_btn{
    background-color: #EE5533;
    color: #fff;
    font-weight: bold;
    width: 50px;
    height: 24px;
    border: none;
    cursor: pointer;
}
.kehu{
    padding: 10px;
    border-top: 1px solid #f3f3f3;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 180px;
    height: 69px;
    z-index: 1;
}
.kehu dl dt {
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}
.kehu dl dd {
    font-size: 12px;
    padding: 5px 0 0;
    color: #e53;
}

#contain{
    width: 100%;
    padding-bottom: 30px;
 /*   height: 500px;*/
}
.hot_pro a{
    font-size: 14px;
    color:#666;
}
.hot_pro a:hover{
    color:#e53;
}
.hot_pro_top{
    line-height: 22px;
    overflow:hidden;
}
.hot_pro{
    margin-top:25px;

}
.hot_pro_top h2{
    float: left;
    color: #e53;
    font-size: 20px;
}
#change_product{
    color:#666;
    float: right;
    font-size: 14px;
}
#change_product:hover{
    color:#e53;
}
.hot_pro_b {
    height: 212px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    margin-top:10px;
    /*position:relative;*/
}
.hot_pro_b_body{
    width: 1190px;
    margin-right: -2px;
    height: 210px;
    overflow: hidden;
   
    /*position:absolute;
    top:0;
    left:0;*/
}
.hot_pro_b_body dl {
    float: left;
    width: 198px;
     display:none;
    /*border: 1px solid #e6e6e6;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;*/
    padding: 20px 10px 15px;
}
.hot_pro_b_body dl dt img {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: 28px;
    transition: all .3s ease;
    zoom: 1;
}
.hot_pro_b_body dl dd{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 10px;
}

.hot_pro_b_body dl dd span.l {
    float: left;
    color: #e53;
    font-size: 14px;
}
.hot_pro_b_body dl dd span.r {
    float: right;
    color: #666;
    text-align: right;
    font-size: 14px;
}
.brand_bot{
    height: 270px;
    position:relative;
    margin-top: 10px;
}
.brand_bot img{
    position:absolute;
}
.brand{
    margin-top: 25px;
}
.brand_2 {
    left: 200px;
    top: 0;
}
.brand_3 {
    left: 200px;
    top: 140px;
}
.brand_4 {
    left: 400px;
    top: 0px;
}
.brand_5 {
    left: 600px;
    top: 0;
}
.brand_6 {
    left: 600px;
    top: 140px;
}
.brand_7 {
    left: 800px;
    top: 0px;
}
.brand_8 {
    left: 1000px;
    top: 0;
}
.brand_9 {
    left: 1000px;
    top: 140px;
}

.dogg{
    width: 100%;
    margin-top: 20px;
    height: 518px;
}

.dogg_top {
    width: 100%;
    border-bottom: 2px solid #e53;
    height: 38px;
    overflow: hidden;

}
.dog_tit {
    width: 190px;
    float: left;
    padding: 5px 0 0;
}
.dog_tit h3 {
    height: 30px;   
}
.dog_tit i{
    background: url(../img/big_dog.png) no-repeat;
    width: 31px;
    height: 28px;
    float: left;
    margin-right: 9px;
}
 #contain .dog_tit h3 a{
    font-size: 20px;
    color: #e53;
}
.dog_nav {
    float: left;
    height: 38px;
    padding: 6px 0 0;
}

.dog_nav a {
    font-size: 16px;
    line-height: 32px;
    float: left;
    height: 32px;
    background: url(../img/shu.png) no-repeat right 8px;
    padding: 0 15px;
    color: #333;
}

.dog_nav a:last-child{
     background-image:none;
}
 .dog_nav .active{
    color: #fff !important;
    padding: 0 16px;
    margin: 0 -1px;
    background: #e53;
}
.dog_nav a:hover{
    text-decoration: underline;
}

.tempWarp{
    overflow: hidden;
    position: relative;
    width: 190px;
}
.dog_c{
    height: 480px;
    overflow: hidden;
    width: 800px;
}
.dog_body {
    height: 422px;
    overflow: hidden;
}
.dog_c_t{
    overflow:hidden;
    /*display:none;*/
}
.dog_c_t dl {
    float: left;
    width: 200px; 
    height: 210px;
    border: 1px solid #fff;
    padding: 20px 12px 15px;
   
}
.dog_c_t dl a{
    color:#666;
}
.dog_c_t dl dt {

    height: 120px;
    overflow: hidden;
    margin-bottom: 5px;

}
.dog_c_t dl dd{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 7px;
}
.dog_c_t dl dd span.l {
    float: left;
    color: #e53;
    font-size: 14px;
}
.dog_c_t dl dd span.r {
    float: right;
    color: #666;
    text-align: right;
}
.dog_c_t a:hover{
    color:#e53;
}
.dog_c_t_1 a{
    font-size: 14px;
    color:#666;
}
.dog_c_t dl dt img {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: 28px;
    transition: all .3s ease;
    zoom: 1;
}
.dog_c_b{
      float:left; 
}
.dog_c_b a{
    display:block;
    width:100px;
    height: 58px;
     padding: 10px 9px 10px 10px;
     border: 1px solid #e6e6e6;
    border-left: none;
    float:left; 
}
.dog_c_b img {
    float: left;
    width: 80px;
    height: 36px;
}
.dog_r{
    width: 200px;
    border: 1px solid #e6e6e6;
    border-top: none;
    padding: 10px;
    height: 480px;
}
.dog_r_t{
    font-size: 16px;
    color:#e53;
    line-height: 18px;
}
.dog_r_b{
    margin-top:12px;
    overflow:hidden;
}
.dog_r_b dl {
    margin-top: 12px;
    overflow: hidden;
}
.dog_r_b dl dt {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
}
.dog_r_b dl dt img {
    width: 60px;
    height: 60px;
    display: block;
}
.dog_r_b dl dd {
    padding-top: 5px;
    color: #e53;
    font-size: 13px;
}
.dog_r_b dl dd a {
    font-size: 14px;
    color: #666;
}
.dog_r_b dl dd.name {
    height: 38px;
    line-height:18px;
    overflow: hidden;
    padding: 0;
}
.dog_r_b dl dd.name:hover a{
    color:#e53;
}
 .evaluate_tit .pinglun{
    display:block;
    float:left;
    background:url(../img/pinglun.png)no-repeat;
    width: 29px;
    height: 26px;
    margin: 0 6px;
}
.evaluate{
    /*height:100px;*/
  overflow:hidden;
    margin-top: 25px;
}
.evaluate_left{
    width: 990px;
}
.evaluate_tit {
    border-bottom: 2px solid #e53;
    padding-bottom: 5px;
}
.evaluate_tit h2 {
    font-size: 20px;
    color: #e53;
}
.ev_bot{
    overflow: hidden;
    width: 989px;
    height: 182px;
    border-right: 1px solid #e6e6e6;
}
.ev_content{
    height: 91px;
}
.ev_list{
    float:left;
    padding: 15px;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 464px;
}
.ev_list dl{
    float:left;
    width: 40px;
    height: 40px;
}
.ev_list dl dd{
    color:#999;
}
.ev_list ul{
    float:left;
    width: 315px;
    padding:0 20px;
}
.evaluate_right{
    width: 190px;
    color:#e53;
}
.score{
    float:left;
    width: 78px;
    height: 15px;
    background:url(../img/zhuazi.png)no-repeat;
    margin-right: 5px;
}
.ev_list ul li em{
    float:left;
}
.ev_list ul li span{
    float:right;
    color:#e53;
}
.ev_list a{
    color:#666;
}
.ev_list ul li{
    overflow:hidden;
}
.ev_list ul li.text{
    color:#666;
    line-height: 18px;
    padding: 5px 0 0;
    height:44px;
    overflow:hidden;
}
.evaluate_tit {
    border-bottom: 2px solid #e53;
    padding-bottom: 5px;
}
.gzwm dl{

    padding: 10px;
    border: 1px solid #e6e6e6;
    height: 90px;
}
.gzwm dl dt {
    height: 73px;
    width: 71px;
    background: url(../img/ewm_wechat.png) no-repeat;
    float: left;
    margin-right: 10px;
}
.gzwm dl dd {
    color: #666;
    padding: 3px 0 0;
    overflow: hidden;
}
.gzwm dl dd em {
    color: #e53;
    font-style: normal;
    font-weight: bold;
}
 .gzwm dl dd span {
    width: 16px;
    height: 14px;
    background: url("../../images/icon.png") no-repeat -195px -77px;
    margin-left: 6px;
}
 .gzwm dl dd a{
    color:#666;
    font-size: 12px;
    float:left;
 }
  .gzwm dl dd span{
    float:left;
    display:block;
    width: 16px;
    height: 16px;
    background: url(../img/v.png)no-repeat;
    margin-left: 6px;
  }
  .gzwm dl dd a:hover{
    color:#e53;
  }
  #link{
    width: 100%;
    margin-top: 30px;
    background-color: #EE5533;
    height: 120px;
    padding:15px 0;
  }
.link{
    width: 990px;
    margin:0 auto;
    overflow:hidden;
    
  }
.link dl{
    width: 197px;
    border-right:1px dashed #ffb3aa;
    text-align: center;
    color:#fff;
    float:left;
}
.link dl dd.name{
    font-size: 16px;
    padding: 10px 0 0;
}.link dl dd{
    margin-top: 5px;
}
#service{
    width: 100%;
    background-color: #f3f3f3;
    min-width: 1190px;

}
.service{
    width: 990px;
    margin:0 auto;
    overflow:hidden;
    padding: 15px;
}
.service dl{
    float:left;
    width: 70px;

    margin:0 0 0 110px;
}
.service dl dt{
    color:#464646;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
.service dl dd{
    padding:6px 0 0;
}
.service dl dd a{
    color:#666;
}
.service dl dd a:hover{
    color:#e53;
}
  .foot_wb{
    display:block;
    width: 82px;
    height: 27px;
    background:url(../img/guanzhu.png)no-repeat;
  }
 #footer {
    width: 100%;
    height: 152px;
    float:left;
    border-top: 1px solid #ddd;
}
.footer {
    text-align: center;
    font-size: 12px;
    color:#000;
}

.footer_bot {
    padding: 20px 0;
    position: relative;
}
.footer_bot p.link {
    color: #333;
}
.footer_bot p {
    color: #666;
    margin-top: 11px;
}
.footer_bot p span {
padding: 0 8px;
}
.footer_bot p a {
    color: #666;
}
.footer_bot p a:hover{
   color:#e53;
    text-decoration: underline;
}
#chelan {
    position: fixed;
    top: 0;
    right: 0;
    width: 36px;
    height: 100%;
    z-index: 98;
}
