/* 
* @Author: Marte
* @Date:   2019-05-08 10:46:25
* @Last Modified by:   Marte
* @Last Modified time: 2019-05-17 20:45:59
*/
header{
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #DDDDDD;
}
.header_left li{
    float: left;
    margin: 0 20px 0 0;
}
.header_left li a {
    color:#000;
    font-size:14px; 
    display: block;
    height: 34px;
    line-height: 36px;
}
.header_right li{

    float: left;
    height: 16px;
    padding: 0 13px;
    margin: 10px 0 0;
    border-left: 1px solid #999;
    position: relative;
    z-index: 10;
    font-size: 14px;
}
.weibo{
    display:block;
    width: 20px;
    height: 16px;
    background:url(../img/top_weibo.png)no-repeat;
    float: left;
    margin-right: 7px;
}
.weixin{
    display:block;
    width: 20px;
    height: 16px;
    background:url(../img/top_weixin.png)no-repeat;
    float: left;
    margin-right: 3px;
}
.tel{
    display:block;
    width: 10px;
    height: 16px;
    background:url(../img/top_tel.png)no-repeat;
    float: left;
    margin-right: 7px;
}
.header_right li a{
    color:#000;
}
.header li a:hover{
    color:#e53;
}
main{
    width: 100%;
    height: 707px;
    background-color: #F3F3F3;
}

.main_top{
    height: 123px;
    padding: 20px 0 15px;
    overflow: hidden;
    position: relative;
}
.main_top>a{
    float:left;
}
.main_top h1{
    float: left;
    height: 40px;
    color: #666;
    font-size: 24px;
    border-left: 1px solid #ccc;
    padding: 0 0 0 10px;
    margin: 25px 0 0 10px;
}
.has_number {
    position: absolute;
    right: 0;
    bottom: 15px;
    color: #333;
    font-size: 14px;
}
.has_number a{
    color:blue;
}
.reg{
    width: 992px;
    height: 587px;
    border:1px solid #DDDDDD;
    background-color: #fff;
}
.reg_left{
    padding: 40px 0 0 50px;
    width: 693px;
}

.tellphone{
    display:inline-block;
    width: 16px;
    height: 23px;
    background:url(../img/tellphone.png)no-repeat center center;  
    margin:0px 8px 0 0;
    vertical-align: top;
}
.reg_left_top{
    width: 109px;
    /*height: 38px;*/
    margin-left: 98px;
    font-size:20px;
    color: #333;
    height: 38px;
    text-align: center;
    cursor: pointer;
    background: url(../img/t_b_2.png) no-repeat 0 bottom;
    margin-bottom: 45px;
}

.reg_left_body{
    width: 613px;
    margin-left: 80px;
}
.forget_list>span {
    width: 100px;
    font-size: 16px;
    color: #666;
    text-align: right;
    float:left;
    line-height: 38px;
}

.k_em {
    width: 30px;
    height: 30px;
    float: left;

}
.tip.suc {
    background: url(../img/gou.jpg) no-repeat center center;
    display:none;
    z-index: 6;
}
.yzm .tip.err {
    z-index: 6;
    background: url(../img/err.png) no-repeat center center;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    display:none;
}

.yzm{
    border: 1px solid #ddd;
    float: left;
    height: 38px;
    padding: 0 10px;
}
.forget_list {
    width: 613px;
    margin-top: 10px;
    overflow: hidden;
}
.yzm {
    float: left;
    height: 40px;
    padding: 0 10px;
}
.yzm input{
    float: left;
    height: 38px;
    padding: 5px 0;
    font-size: 14px;
    border: none;
    width: 230px;
    }

.tip.err {
    color: #f65;
    background: #ffebec;
    border: 1px solid #ffbdbf;
    padding: 4px 10px;
    width: 210px;
    height: 26px;
    font-size: 12px;
    /*display:none;*/
}
.k_em {
    width: 30px;
    height: 30px;
    float: left;
}
/*.k_em > div{
    display:none;
}*/
#mobile_tip{
    display:none;
}

#password_tip{
    display:none;
}
.tip {
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px 0 0 10px;
}
.forget_list span {
    float: left;
    font-size: 16px;
    color: #666;
    width: 100px;
    height: 38px;
    text-align: right;
}
#m_verify_img {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#update a{
    font-size: 12px;
    color:#000000; 
}
#update a:hover{
    color:#e53;
    text-decoration: underline;
}
#update {
    color: #08d;
    cursor: pointer;
    float: left;
    margin: 10px 0 0 10px;
    vertical-align: middle;
}
#message{
    border:1px solid #ddd;
    background: #f3f3f3;
    width: 108px;
    text-align: center;
    line-height: 38px;
    margin: 0 0 0 10px;
    color:#ccc;
    font-size: 12px;
    cursor:pointer;
    z-index: 5;
}
.message_suc{
    color:#000;
}
.agree{
    font-size:12px;
    color: #333;
    padding: 20px 0 0;

}
#register{
    margin-top: 20px;
    display:inline-block;
    width: 250px;
    height: 46px;
    line-height: 46px;
    color:#fff;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    background-color: #FF6655;
}

#footer {
    width: 100%;
    height: 152px;
    float:left;
    border-top: 1px solid #ddd;
}
.footer {
    text-align: center;
    font-size: 12px;
    color:#000;
}

.footer_bot {
    padding: 20px 0;
    position: relative;
}
/*.footer_bot span{
    display:block;
    width: 11px;
    height: 16px;
}*/
.footer_bot p.link {
    color: #333; 
}
.footer_bot p {
    color: #666;
    /*line-height: 22px;*/
    margin-top: 11px;
}
.footer_bot p span {
padding: 0 8px;
}
.footer_bot p a {
    color: #666;
}
.footer_bot p a:hover{
   color:#e53;
    text-decoration: underline;
}